body {
    background-color: #d1d1d1 !important;
  }
  
  .navbar-light {
    background-color: transparent;
    z-index: 5;
  }
  
  .navbar-nav {
    justify-content: space-between;
  }
  
  .navbar-brand {
    font-size: 35px;
  }
  
  .nav-item {
    font-size: 20px;
    padding-right: 15px;
    color: #ffffff !important;
  }
  
  .nav-item2 {
    background-color: #9370DB !important;
    border-radius: 15px !important;
    width: 95px !important;
    text-align: center !important;
    font-size: 20px;
  }
  
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
  .graybg {
    background-color: #ffffff !important;
    border-radius: 15px !important;
    margin: 15px;
    padding: 7px;
  }
  
  .searchbox {
    width: 100%;
    border-radius: 15px !important;
    background-color: transparent;
    border: 5px;
    padding: 30px;
    margin: 0;
    margin-top: 75px;
    text-align: center;
    position: relative;
    top: -130px;
  }
  
  .search {
    position: relative;
    right: -185px;
    display: flex;
    justify-content: space evenly;
    width: 100%;
    border-radius: 15px !important;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #000000;
    font-size: 17px;
  }
  
  .zipcode {
    position: relative;
    right: -165px;
    display: flex;
    justify-content: space evenly;
    margin-top: 10px;
    margin-left: 40px;
    width: 50%;
    border-radius: 15px !important;
    padding: 7px;
    border: 3px solid #000000;
    font-size: 17px;
  }
  
  .sortbox {
    position: relative;
    right: -75px;
    display: flex;
    justify-content: space evenly;
    margin-top: 10px;
    width: 33%;
    border-radius: 15px !important;
    padding: 7px;
    border: 3px solid #000000;
    font-size: 17px;
  }
  
  .filterbox {
    position: relative;
    right: 85px;
    display: flex;
    justify-content: space evenly;
    width: 30%;
    border-radius: 15px !important;
    padding: 7px;
    border: 3px solid #000000;
    font-size: 17px;
    margin-top: 10px;
  }
  
  .enter-site{
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    border-color: #ffffff;
    width: 120px;
    height: 45px;
    border-radius: 15px !important;
    align-items:center;
    justify-content: center;
    position: relative;
    right: -580px;
    top: 50px;
    z-index: 25;
  }
  
  #footer{
    position: relative;
    right: -15px;
    top: 225px;
    z-index: 20;
    font-size: 12px;
  }
  /*---Header---*/
  
  /*---Studio List---*/
  .stucontainer {
    width: 100%;
    height: 900px;
    padding: 50px 80px;
  }
  
  /*---Card One---*/
  
  /*---Star Rating 1---*/
  .rating-box {
    width: 175px;
    border-radius: 15px !important;
    height: 35px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border: 1px;
    box-sizing: border-box;
  }
  
  svg {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-top: 3px;
  }
  
  
  /* hide radio buttons */
  
  input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
  }
  
  
  /* hide source svg */
  
  .star-source {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  
  /* set initial color to transparent so fill is empty*/
  
  .star {
    color: #7a7a7a;
    transition: color 0.2s ease-in-out;
  }
  
  
  /* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/
  
  .star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  label:hover~label .star,
  svg.star:hover,
  input[name="star"]:focus~label .star,
  input[name="star"]:checked~label .star {
    color: #fbff28;
  }
  
  input[name="star"]:checked+label .star {
    animation: starred 0.5s;
  }
  
  input[name="star"]:checked+label {
    animation: scaleup 1s;
  }
  
  @keyframes scaleup {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes starred {
    from {
      color: #d6ca2a;
    }
    to {
      color: #d6ca2a;
    }
  }
  
  
  /*---Links---*/
  
  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: purple;
  }
  
  
  /*---Card Body---*/
  
  .card1 {
    position: relative;
    top: 45px;
    right: 300px;
    margin: auto;
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    width: 420px;
    height: 330px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  
  .card1 .card-meta {
    position: relative;
    left: -65px;
    color: #9370DB;
  }
  
  
  
  .card1 .roomB {
    position: relative;
    left: 5px;
    color: #ffffff;
  }
  
  .card1 .roomC {
    position: relative;
    left: 5px;
    color: #ffffff;
  }
  
  .stuLocation {
    position: relative;
    top: -10px;
    left: -65px;
  }
  /*---Like Button---*/
  
  .btns1 {
    position: relative;
    top: -50px;
    left: -50px;
  }
  
  
  .card1.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card1.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card1.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #d2d2d25c 100%);
  }
  
  .card1 .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card1:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card1:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card1 .card-img-overlay {
    background-color: rgba(138, 138, 138, 0.425);
  }
  
  
  /*---Card Body---*/
  
  
  /*---Heart Button---*/
  
  .btns1 {
    position: relative;
    top: -70px;
    left: 300px;
  }
  
  
  /*---Heart Button---*/
  
  
  /*---Star Rating---*/
  
  .rating-box {
    position: relative;
    top: -30px;
    left: -60px;
    border-radius: 15px !important;
    width: 105px;
    height: 15px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #e5e5e55a;
    border: 1px;
    box-sizing: border-box;
  }
  
  svg {
    position: relative;
    top: -7px;
    width: 20px;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  
  /* hide radio buttons */
  
  input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
  }
  
  
  /* hide source svg */
  
  .star-source {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  
  /* set initial color to transparent so fill is empty*/
  
  .star {
    color: #7a7a7a;
    transition: color 0.2s ease-in-out;
  }
  
  
  /* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/
  
  .star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  label:hover~label .star,
  svg.star:hover,
  input[name="star"]:focus~label .star,
  input[name="star"]:checked~label .star {
    color: #fbff28;
  }
  
  input[name="star"]:checked+label .star {
    animation: starred 0.5s;
  }
  
  input[name="star"]:checked+label {
    animation: scaleup 1s;
  }
  
  @keyframes scaleup {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes starred {
    from {
      color: #d6ca2a;
    }
    to {
      color: #d6ca2a;
    }
  }
  
  
  /*---Star Rating---*/
  
  @media (max-width: 768px) {
    .card {
      min-height: 350px;
    }
  }
  
  @media (max-width: 420px) {
    .card {
      min-height: 300px;
    }
  }
  
  
  /*---Card stack---*/
  
  
  .stucontainer .card1-stack {
    width: 500px;
    height: 250px;
    position: absolute;
    margin: 20px auto;
  }
  
  .stucontainer .card1-stack .buttons {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.46);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 0;
    top: 55%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
    z-index: 100;
    outline: none;
    transition: all 0.2s ease;
  }
  
  .stucontainer .card1-stack .buttons:hover {
    transform: scale(1.3, 1.3);
  }
  
  .stucontainer .card1-stack .prev {
    left: 15px;
    right: auto;
  }
  
  .container .card1-stack .next {
    left: auto;
    right: 15px;
  }
  
  .stucontainer .card1-stack .carousel .buttons:hover {
    color: #C01313;
    background: #fff;
  }
  
  .stucontainer .card1-stack .card-list {
    width: 300px;
  }
  
  .stucontainer .card1-stack .card-list__image {
    height: 200px;
  }
  
  .stucontainer .card1-stack .card-list__text {
    color: #fff;
    font-weight: 300;
  }
  
  .stucontainer .card1-stack .card-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    position: absolute;
    list-style: none;
    height: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  }
  
  .stucontainer .card1-stack .card-list li:nth-child(1) {
    top: 24px;
    width: 60%;
    /* animation: scaleCard 100ms; */
  }
  
  .stucontainer .card1-stack .card-list li:nth-child(2) {
    top: 36px;
    width: 70%;
  }
  
  .stucontainer .card1-stack .card-list li:nth-child(3) {
    top: 48px;
    width: 80%;
  }
  
  .stucontainer .card1-stack .card-list li:nth-child(4) {
    top: 60px;
    width: 90%;
  }
  
  .stucontainer .card1-stack .card-list li:nth-child(5) {
    top: 72px;
    width: 100%;
  }
  
  .container .card1-stack:hover>.buttons.prev {
    display: block;
    animation: bounceInLeft 200ms;
  }
  
  .stucontainer .card1-stack:hover>.buttons.next {
    display: block;
    animation: bounceInRight 200ms;
  }
  
  .transformThis {
    animation: scaleDown 500ms;
  }
  
  .transformPrev {
    animation: scaleUp 100ms;
    display: none;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1.2) translateY(50px);
      opacity: 0;
    }
    20% {
      transform: scale(1.15) translateY(40px);
      opacity: 0.1;
    }
    40% {
      transform: scale(1.1) translateY(30px);
      opacity: 0.2;
    }
    60% {
      transform: scale(1.05) translateY(20px);
      opacity: 0.4;
    }
    80% {
      transform: scale(1.01) translateY(10px);
      opacity: 0.8;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
    20% {
      transform: scale(1.01) translateY(20px);
      opacity: 0.8;
    }
    40% {
      transform: scale(1.05) translateY(40px);
      opacity: 0.4;
    }
    60% {
      transform: scale(1.1) translateY(60px);
      opacity: 0.2;
    }
    80% {
      transform: scale(1.15) translateY(80px);
      opacity: 0.1;
    }
    100% {
      transform: scale(1.2) translateY(100px);
      opacity: 0;
    }
  }
  
  @keyframes scaleCard {
    0% {
      top: 5px;
    }
    100% {
      top: 24px;
    }
  }
  
  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes bounceInRight {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  
  /*---Card stack---*/
  
  
  /*---Card One---*/
  
  /*---Card Two---*/
  
  /*---Star Rating 1---*/
  .card2 .rating-box {
    width: 175px;
    border-radius: 15px !important;
    height: 35px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border: 1px;
    box-sizing: border-box;
  }
  
  svg {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-top: 3px;
  }
  
  
  /* hide radio buttons */
  
  input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
  }
  
  
  /* hide source svg */
  
  .star-source {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  
  /* set initial color to transparent so fill is empty*/
  
  .star {
    color: #7a7a7a;
    transition: color 0.2s ease-in-out;
  }
  
  
  /* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/
  
  .star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  label:hover~label .star,
  svg.star:hover,
  input[name="star"]:focus~label .star,
  input[name="star"]:checked~label .star {
    color: #fbff28;
  }
  
  input[name="star"]:checked+label .star {
    animation: starred 0.5s;
  }
  
  input[name="star"]:checked+label {
    animation: scaleup 1s;
  }
  
  @keyframes scaleup {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes starred {
    from {
      color: #d6ca2a;
    }
    to {
      color: #d6ca2a;
    }
  }
  
  
  /*---Links---*/
  
  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: purple;
  }
  
  
  /*---Card Body---*/
  
  .card2 {
    position: relative;
    top: -850px !important;
    right: -1150px !important;
    margin: auto;
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    width: 420px;
    height: 330px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card2 .card2-meta {
    position: relative;
    left: -65px;
    color: #9370DB;
  }
  
  
  
  .card2 .roomB {
    position: relative;
    left: 5px;
    color: #ffffff;
  }
  
  .card2 .roomC {
    position: relative;
    left: 5px;
    color: #ffffff;
  }
  
  .stuLocation2 {
    position: relative;
    top: -10px;
    left: -65px;
  }
  /*---Like Button---*/
  
  .card2 .btns1 {
    position: relative;
    top: -50px;
    left: -50px;
  }
  
  
  .card2.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card2.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card2-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius);
}
  
  .card2.card-has-bg:hover .card2-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #d2d2d25c 100%);
  }
  
  .card2 .card2-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card2:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card2:hover .card2-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .card2 .card2-img-overlay {
    background-color: rgba(138, 138, 138, 0.425);
  }
  
  
  /*---Card Body---*/
  
  
  /*---Heart Button---*/
  
  .card2 .btns1 {
    position: relative;
    top: -70px;
    left: 300px;
  }
  
  
  /*---Heart Button---*/
  
  
  /*---Star Rating---*/
  
  .card2 .rating-box {
    position: relative;
    top: -30px;
    left: -60px;
    border-radius: 15px !important;
    width: 105px;
    height: 15px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #e5e5e55a;
    border: 1px;
    box-sizing: border-box;
  }
  
  svg {
    position: relative;
    top: -7px;
    width: 20px;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  
  /* hide radio buttons */
  
  input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
  }
  
  
  /* hide source svg */
  
  .star-source {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  
  /* set initial color to transparent so fill is empty*/
  
  .star {
    color: #7a7a7a;
    transition: color 0.2s ease-in-out;
  }
  
  
  /* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/
  
  .star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  label:hover~label .star,
  svg.star:hover,
  input[name="star"]:focus~label .star,
  input[name="star"]:checked~label .star {
    color: #fbff28;
  }
  
  input[name="star"]:checked+label .star {
    animation: starred 0.5s;
  }
  
  input[name="star"]:checked+label {
    animation: scaleup 1s;
  }
  
  @keyframes scaleup {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes starred {
    from {
      color: #d6ca2a;
    }
    to {
      color: #d6ca2a;
    }
  }
  
  
  /*---Star Rating---*/
  
  @media (max-width: 768px) {
    .card {
      min-height: 350px;
    }
  }
  
  @media (max-width: 420px) {
    .card {
      min-height: 300px;
    }
  }
  
  
  /*---Card stack---*/
  
  
  .stuTwo .stucontainer .card2-stack {
    width: 500px;
    height: 250px;
    position: absolute;
    margin: 10px auto;
  }
  
  .stucontainer .card2-stack .buttons {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.46);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 0;
    top: 55%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
    z-index: 100;
    outline: none;
    transition: all 0.2s ease;
  }
  
  .stucontainer .card2-stack .buttons:hover {
    transform: scale(1.3, 1.3);
  }
  
  .stucontainer .card2-stack .prev {
    left: 15px;
    right: auto;
  }
  
  .container .card2-stack .next {
    left: auto;
    right: 15px;
  }
  
  .stucontainer .card2-stack .carousel .buttons:hover {
    color: #C01313;
    background: #fff;
  }
  
  .stucontainer .card2-stack .card2-list {
    width: 300px;
  }
  
  .stucontainer .card2-stack .card2-list__image {
    height: 200px;
  }
  
  .stucontainer .card2-stack .card2-list__text {
    color: #fff;
    font-weight: 300;
  }
  
  .stucontainer .card2-stack .card2-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    position: absolute;
    list-style: none;
    height: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  }
  
  .stucontainer .card2-stack .card2-list li:nth-child(1) {
    top: 24px;
    width: 60%;
    /* animation: scaleCard 100ms; */
  }
  
  .stucontainer .card2-stack .card2-list li:nth-child(2) {
    top: 36px;
    width: 70%;
  }
  
  .stucontainer .card2-stack .card2-list li:nth-child(3) {
    top: 48px;
    width: 80%;
  }
  
  .stucontainer .card2-stack .card2-list li:nth-child(4) {
    top: 60px;
    width: 90%;
  }
  
  .stucontainer .card2-stack .card2-list li:nth-child(5) {
    top: 72px;
    width: 100%;
  }
  
  .container .card2-stack:hover>.buttons.prev {
    display: block;
    animation: bounceInLeft 200ms;
  }
  
  .stucontainer .card2-stack:hover>.buttons.next {
    display: block;
    animation: bounceInRight 200ms;
  }
  
  .transformThis {
    animation: scaleDown 500ms;
  }
  
  .transformPrev {
    animation: scaleUp 100ms;
    display: none;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1.2) translateY(50px);
      opacity: 0;
    }
    20% {
      transform: scale(1.15) translateY(40px);
      opacity: 0.1;
    }
    40% {
      transform: scale(1.1) translateY(30px);
      opacity: 0.2;
    }
    60% {
      transform: scale(1.05) translateY(20px);
      opacity: 0.4;
    }
    80% {
      transform: scale(1.01) translateY(10px);
      opacity: 0.8;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
    20% {
      transform: scale(1.01) translateY(20px);
      opacity: 0.8;
    }
    40% {
      transform: scale(1.05) translateY(40px);
      opacity: 0.4;
    }
    60% {
      transform: scale(1.1) translateY(60px);
      opacity: 0.2;
    }
    80% {
      transform: scale(1.15) translateY(80px);
      opacity: 0.1;
    }
    100% {
      transform: scale(1.2) translateY(100px);
      opacity: 0;
    }
  }
  
  @keyframes scaleCard {
    0% {
      top: 5px;
    }
    100% {
      top: 24px;
    }
  }
  
  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes bounceInRight {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  
  /*---Card stack---*/
  
  
  /*---Card Two---*/