<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MPMMODELWEB.Properties.Settings.MML_AX_LIVEConnectionString"
            connectionString="Data Source=10.10.101.11;Initial Catalog=MML_AX_LIVE;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>